body{
    background-color: #E5FFE5;
}

h1{
color: #00ff7f;
text-align: left;
font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
font-size: 40px;
background-color: #9f5423;
}


h2{
color: #00ff7f;
text-align: center;
background-color: #9f5423;
font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
font-size: 28px;
}

p{
color: #1e0a00;
text-align: center;
font-family: "Atma", Verdana, Arial, serif;
font-size: 35px;
}

h3{
    color: #1e0a00;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-size: 18px;
}

/*navigointi*/
nav a{
    background: #00ff7f;
    font-family: 'Trebuchet MS', 'Verdana', 'Arial', sans-serif;
    color: #1e0a00;
    text-decoration: none;
    display: inline-block;
}
nav a:hover {
    color:#1e0a00;
    background-color: #E5FFE5;
}
#valittu {
    color: #00ff7f;
    background-color: #1e0a00;
}