body{
    background-color: #E5FFE5;
}

a {
    cursor: pointer;
}

.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #9f5423;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.header-main-logo {
    color: #E5FFE5;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
    width: fit-content;
    padding-left: 15px;
    display: flex;
    line-height: 60px;
}

.header-main-nav {
    width: fit-content;
    height: 100%;
}

.header-main-nav ul {
    list-style: none;
    margin-right: 40px;
}

.header-main-nav ul li {
    display: inline;
    float: left;
    margin-right: 10px;
}

.header-main-nav ul li a {
    padding: 0 10px;
    color: #E5FFE5;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Verdana', Arial,sans-serif;
    line-height: 60px;
    display: block;
    height: 100%;
}
.header-main-nav ul li a:hover{
    color: #00ff7f;
}

main{
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
    bottom: 60px;
}

h1{
    position: relative;
    top: 5%;
color: #9f5423;
text-align: center;
font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
font-size: 40px;
background-color: #E5FFE5;
}


.tila1{
    position: absolute;
    left: 10%;
    top: 25%;
}

h2{
    display: block;
    position: relative;
    left: 30%;
    margin-bottom: 10px;
    width: fit-content;
    padding: 7px 16px;
    cursor: pointer;
color: #00ff7f;
text-decoration: underline;
background-color: #9f5423;
font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
font-size: 24px;
}

.bkuva{
    width: 500px;
}

.tiedot1{
    color: #1e0a00;
    font-family: "Roboto", Verdana, Arial, serif;
    font-size: 18px;
    font-weight: 450;
    text-align: right;
    line-height: 1.4;
}
    
.story1{
    color: #1e0a00;
    font-family: "Roboto", Verdana, Arial, serif;
    font-size: 18px;
    font-weight: 450;
    text-align: left;
    line-height: 1.4;
}

.alapainike1 {
    display: block;
    position: relative;
    left: 30%;
    font-family: "Roboto", Verdana, Arial, serif;
    font-size: 18px;
    color: #00ff7f;
    background-color: #9f5423;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 10px;
}

.tila2{
    position: absolute;
    right: 10%;
    top: 25%;
}

h3{
    display: block;
    position: relative;
    left: 30%;
    margin-bottom: 10px;
    width: fit-content;
    padding: 7px 16px;
    cursor: pointer;
    color: #00ff7f;
    text-decoration: underline;
    background-color: #9f5423;
    font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
    font-size: 24px;
}

.ekuva{
    width: 500px;
}

.tiedot2{
    color: #1e0a00;
    font-family: "Roboto", Verdana, Arial, serif;
    font-size: 18px;
    font-weight: 450;
    text-align: left;
    line-height: 1.4;
}

.story2{
    color: #1e0a00;
    font-family: "Roboto", Verdana, Arial, serif;
    font-size: 18px;
    font-weight: 450;
    text-align: right;
    line-height: 1.4;
}

.alapainike2 {
    display: block;
    position: relative;
    left: 30%;
    font-family: "Roboto", Verdana, Arial, serif;
    font-size: 18px;
    color: #00ff7f;
    background-color: #9f5423;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 10px;
}

footer{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #1e0a00;
    background-color: #ffffff;
    display: flex;
    padding: 5px;
    border: 1px solid #1e0a00;
    flex-direction: row;
    position: relative;
    margin-top: 150px;
    width: 100%;
    justify-content: center;
}

/* mobiili - versio */

@media (max-width: 1300px) {

    .header-main-sm {
        display: none;
    }
    .header-main-nav ul {
        list-style: none;
        margin-right: 0px;
    }
    
    .header-main-nav ul li {
        display: inline;
        float: left;
        margin-right: 0px;
    }
    
    .header-main-nav ul li a {
        font-size: 18px;
    }


    .header-main-logo {
        padding-left: 10px;
        font-size: 20px;
    }

    .tila1{
        position: relative;
        left: 50%;
        translate: -50%;
        top: 15%;
    }
    
    h2{
        position: relative;
        left: 50%;
        translate: -50%;
    }
    
    .bkuva{
        position: relative;
    left: 50%;
    translate: -50%;
    width: 300px;
    }
    
    .tiedot1{
        position: relative;
        left: 50%;
        translate: -50%;
        text-align: center;
    }
        
    .story1{
        display: none;
    }
    
    .alapainike1 {
        position: relative;
        left: 50%;
        translate: -50%;
    }

    .tila2{
        position: relative;
        left: 50%;
        translate: -50%;
        top: 30%;
    }
    
    h3{
        position: relative;
        left: 50%;
        translate: -50%;
    }
    
    .ekuva{
        position: relative;
        left: 50%;
        translate: -50%;
        width: 300px;
    }
    
    .tiedot2{
        position: relative;
        left: 50%;
        translate: -50%;
        text-align: center;
    }
    
    .story2{
        display: none;
    }
    
    .alapainike2 {
        position: relative;
        left: 50%;
        translate: -50%;
    }

    footer{
        position: relative;
        top: 60vh;
    }

}