body{
    background-color: #E5FFE5;
}

a {
    cursor: pointer;
}

.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #9f5423;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.header-main-logo {
    color: #E5FFE5;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
    width: fit-content;
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
}

.header-main-nav {
    width: fit-content;
    height: 100%;
}

.header-main-nav ul {
    list-style: none;
    margin-right: 40px;
}

.header-main-nav ul li {
    display: inline;
    float: left;
    margin-right: 10px;
}

.header-main-nav ul li a {
    padding: 0 10px;
    color: #E5FFE5;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Verdana', Arial,sans-serif;
    line-height: 60px;
    display: block;
    height: 100%;
}
.header-main-nav ul li a:hover{
    color: #00ff7f;
}

main{
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
    bottom: 60px;
}

h1{
    position: relative;
    top: 10%;
color: #9f5423;
text-align: center;
font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
font-size: 40px;
background-color: #E5FFE5;
}


.tila1{
    position: absolute;
    left: 10%;
    top: 30%;
}

h2{
    display: block;
    position: relative;
    left: 30%;
    width: fit-content;
    padding: 7px 16px;
    cursor: pointer;
color: #00ff7f;
text-decoration: underline;
background-color: #9f5423;
font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
font-size: 24px;
}

.bkuva{
    width: 500px;
}

.alapainike1 {
    display: block;
    position: relative;
    left: 30%;
    top: 15px;
    color: #00ff7f;
    background-color: #9f5423;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 10px;
}

.tila2{
    position: absolute;
    right: 10%;
    top: 30%;
}

h3{
    display: block;
    position: relative;
    left: 30%;
    width: fit-content;
    padding: 7px 16px;
    cursor: pointer;
    color: #00ff7f;
    text-decoration: underline;
    background-color: #9f5423;
    font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
    font-size: 24px;
}

.ekuva{
    width: 500px;
}

p{
color: #1e0a00;
font-family: "Roboto", Verdana, Arial, serif;
font-size: 18px;
font-weight: 450;
text-align: center;
}

.alapainike2 {
    display: block;
    position: relative;
    left: 30%;
    top: 15px;
    color: #00ff7f;
    background-color: #9f5423;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 10px;
}